.post {
  max-width: 840px;
}

.title {
  margin: 5px 0;
}

.date {
  font-size: 12px;
  font-style: italic;
}

.author {
  font-size: 12px;
  font-style: italic;
}

.post img {
  max-width: 100%;
}

.content pre {
  padding: 10px;
  background-color: rgba(0,0,0,0.04);
  border: 1px solid rgba(0,0,0,0.3);
}

img + em {
  display: block;
  font-size: 12px;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .post {
    max-width: 100%;
    width: 100%;
  }

  .post > * {
    word-break: break-word;
  }
}