@import url(https://code.cdn.mozilla.net/fonts/fira.css);
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);

html, body {
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

#___gatsby {
    flex: 1;
}

.content {
    margin-top: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}

a:not(.inactive):hover {
    color: #66bb6a;
}