.container {
  display: flex;
  position: fixed;
  right: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  user-select: none;
  height: 100%;
  top: 0;
  margin:0;
  padding: 10px 0;
  box-sizing: border-box;
}

.container a {
  color: #000;
  text-decoration: none;
}

.char {
  display: flex;
  align-items: flex-end;
  margin: 0 5px;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
}

.char:not(.inactive):hover {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

@media only screen and (max-height: 650px) and (max-width: 770px) {
  .char {
    line-height: 15px;
  }

  .char:hover {
    font-size: 15px;
    font-weight: bold;
  }
}

@media only screen and (min-width: 770px) {
  .container {
    position: relative;
    margin-top: 70px;
    right: 0;
    flex-direction: row;
  }

  .char {
    width: 10px;
    font-size: 15px;
  }
}