.container {
  display: flex;
  position: fixed;
  right: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  user-select: none;
  height: 100%;
  top: 0;
  margin:0;
  padding: 80px 0 40px 0;
  box-sizing: border-box;
}

.container a {
  color: #000;
  text-decoration: none;
}

.char {
  display: flex;
  align-items: flex-end;
  margin: 0 5px;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
}

.char:not(.inactive):hover {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

@media only screen and (max-width: 710px) {
  .container {
    padding: 60px 0 30px 0;
  }
}

@media only screen and (max-height: 650px) and (max-width: 770px) {
  .char {
    line-height: 15px;
  }

  .char:hover {
    font-size: 15px;
    font-weight: bold;
  }

}

@media only screen and (min-width: 770px) {
  .container {
    position: fixed;
    flex-direction: row;
    top: 65px;
    right: 0;
    height: 35px;
    justify-content: center;
    width: 100%;
    padding: 0;
    z-index: 101;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .scrolled {
    box-shadow: 0 6px 5px rgba(0,0,0,0.25), 0 3px 2px rgba(0,0,0,0.22);
  }

  .char {
    width: 10px;
    font-size: 15px;
  }
}