.header {
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  top: 0;
  background-color: rgba(255,255,255,0.9);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  z-index: 100;
}

.scrolled {
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
}

.sitename {
  margin-left: 50px;
  font-size: 30px;
}

.socialinfo {
  margin-left: auto;
  font-size: 25px;
  line-height: 25px;
}