.container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 300px;
  margin-right: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.container.odd {
  margin-left: 400px;
  margin-right: 0;
  flex-direction: row;
}

.small {
  height: auto;
  box-shadow: none;
}

.interactive {
  cursor: pointer;
}

.interactive:hover {
  color: #43a047
}

.thumbnail {
  display: block;
  object-fit: cover;
  height: 60px;
  opacity: 0.8;
  border-radius: 10px;
  margin-right: 20px;
}

.container.odd .thumbnail {
  margin-left: 20px;
}

.line {
  content: '';
  top: -20px;
  right: -51px;
  position: absolute;
  height: calc(100% + 40px);
  width: 2px;
  background-color: rgba(0,0,0,0.3);
  pointer-events: none;
}

.container.odd .line {
  left: -51px;
}

.icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  font-size: 20px;
  background-color: white;
  right: -65px;
  border-radius: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #43a047;
}

.container.odd .icon {
  left: -65px;
}

.date {
  position: absolute;
  right: -210px;
  top: 4px;
  width: 130px;
  font-size: 15px;
  color: rgba(0,0,0,0.5);
}

.container.odd .date {
  right: initial;
  left: -210px;
  text-align: right;
}

.title {
  width: 200px;
  font-size: 20px;
}

.title-small {
  font-size: 15px;
}

@media only screen and (max-width: 750px) {
  .container.odd,
  .container {
    margin-left: 50px;
    margin-right: 0;
    margin-top: 10px;
    flex-direction: row;
  }

  .container.odd .line,
  .container .line {
    left: -36px;
    height: calc(100% + 30px);
  }
  
  .container.odd .icon,
  .container .icon {
    left: -50px;
  }

  .thumbnail,
  .container.odd .thumbnail {
    margin-right: 0;
    margin-left: 20px;
  }

  .date,
  .container.odd .date {
    left: initial;
    right: initial;
    top: -15px;
    text-align: left;
  }
}

@media only screen and (max-width: 390px) {

  .container.odd,
  .container {
    width: 200px;
  }

  .thumbnail,
  .container.odd .thumbnail {
    display: none;
  }
}